<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">    
    <title>Easy Dinamicas</title>
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
            crossorigin="anonymous">
    </environment>
    <link href="~/css/reset.css" rel="stylesheet">
    <link href="~/css/cabecalho.css" rel="stylesheet">
    @RenderSection("Css", required: false)
</head>
<body>
    <header class="cabecalho">
        <h1 class="cabecalho-titulo">Easy Dinâmicas</h1>
        <nav class="cabecalho-menu">
            <label for="menuAtivo" class="menu-icone glyphicon glyphicon-menu-hamburger"></label>
            <input type="checkbox" id="menuAtivo">
            <ul class="menu-links">
                <li class="link">
                    <a class="link-acao" asp-action="Index" asp-controller="Home">Início</a>
                </li>
                 <li class="link">
                    <a class="link-acao" asp-action="Nova" asp-controller="Dinamica">Nova dinâmica</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
