.dinamica {
	display: block;
	margin: 0 auto;
	width: 100%;			
}
.dinamica-titulo {
	background-color: #2a0b2a;
	color : #D2D7D3;
	display: block;
	font-size: 60px;
	font-family: 'Mali', sans-serif;
	height: 140px;
	line-height: 140px;
	margin: 0;
	text-align: center;
}
.dinamica-acoes {
	position: absolute;
	right: 100px;
	top: 25px;

}
.dinamica-editar,
.dinamica-arquivar {
	color: #D2D7D3;
	font-size: 35px;
}

.dinamica-editar:hover,
.dinamica-editar:focus,
.dinamica-arquivar:hover,
.dinamica-arquivar:focus {
    text-decoration: none;
}

.dinamica-editar:hover,
.dinamica-arquivar:hover  {
    color: #ABB7B7;
}
.dinamica-resumo {
	background-color: #2a0b2a;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 6vw 30px;
	width: 100%;
}
.resumo-info {
	background-color: white;
	border-radius: 20%;
	color: white;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	height: 250px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 25px 15px;
	text-align: center;
	vertical-align: middle;
	width: 250px;
}
.resumo-info.--par {
	background-color: #e6258c;
	color: #D2D7D3;
}
.resumo-info.--impar {
    background-color: #FFBA00;		
	color: black;
}
.resumo-info-titulo {
	display: block;
	font-family: 'Mali', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 12px;
}
.resumo-info-titulo .glyphicon {
	vertical-align: top;		
}
.dinamica-fluxo_basico {
	background-color: #e6258c;
	padding: 50px 100px;
}
.fluxo_basico-titulo {
	color: white;
	font-family: 'Mali', sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
.dinamica-fluxo_basico ol li {
	color: #D2D7D3;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin-bottom: 10px;
	padding-right: 20px;
	text-align: justify;
}
.dinamica-exemplo {
	background-color: #FFBA00;
	color: #757D75;
	display: block;
	padding: 50px 100px;
}
.exemplo-resumo {
	display: block;
	margin-bottom: 22px;
	width: 100%;		
}
.exemplo-resumo-quem {
	color: #2a0b2a;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: bold;		
}
.exemplo-resumo-tempo {
	color: #2a0b2a;
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-top: 3px;
	margin-right: 15px;
}
.exemplo-resumo-tempo .glyphicon {
	vertical-align: text-top;
}
.exemplo-resumo-avaliacao {
	font-size: 25px;
	vertical-align: text-bottom;
	margin-right: 15px;
}
.exemplo-resumo-avaliacao.--positiva {
	color : #26A65B;
	background: white;
	border-radius: 100%;
}
.exemplo-resumo-avaliacao.--neutra {
	color : #A17917;
}
.exemplo-resumo-avaliacao.--negativa {
	color : #F22613;
}
.exemplo-descricao {
	color: #2a0b2a;
	display: block;
	padding: 0 20px;
}
.exemplo-descricao-info {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-bottom: 15px;
	text-align: justify;
}
.descricao-info-titulo {
	color: #2a0b2a;
	font-family: 'Mali', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;		
}
.dinamica-referencias {
	background-color: #2a0b2a;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding: 50px 100px;
}
.dinamica-referencias-titulo {
	font-family: 'Mali', sans-serif;
	font-size: 18px;
	margin: 0 0 15px 0;
	vertical-align: text-top;
}

@media only screen and (max-width: 950px) {
	.dinamica-acoes {
		right: 50px;
	}
	.dinamica-editar,
	.dinamica-arquivar {
		font-size: 20px;
	}
}
@media only screen and (max-width: 600px) {
	.dinamica-acoes {
		right: 25px;
		top: 10px;
	}
	.dinamica-editar
	.dinamica-arquivar {
		font-size: 20px;
	}
   .dinamica-titulo {
		font-size: 25px;
		height: 100px;
		line-height: 115px;
   }
   .dinamica-fluxo_basico,
   .dinamica-exemplo,
   .dinamica-referencias {
	   padding: 25px;
   }
   .dinamica-fluxo_basico ol li {
		font-size: 14px;
    	margin-bottom: 7px;
		padding-right: 0px;
   }
   .exemplo-resumo-avaliacao {
	   display: block;
	   float: left;
	   font-size: 20px;
	   margin-right: 5px;
	   width: 20px;
   }
   .exemplo-resumo-quem {
	   font-size: 15px;
	}
	.exemplo-descricao {
		padding: 0px 10px;
	}
	.exemplo-resumo-tempo {
		display: block;
		float: none;
		margin-left: 10px;
		margin-top: 20px;
   }
   .descricao-info-titulo,
   .exemplo-descricao-info,
   .exemplo-resumo-tempo {
	   font-size: 14px;
   }
   .dinamica-referencias {
	   font-size: 12px;
   }
}