.gerador-titulo {
	background-color: #2a0b2a;
	color : #D2D7D3;
	display: block;
	font-size: 60px;
	font-family: 'Mali', sans-serif;
	height: 140px;
	line-height: 140px;
	margin: 0;
	text-align: center;	
}
.field-validation-error{
	float: right;
}
.--erro {
	color: #F22613 !important;
	margin-bottom: 25px;
}
li.--erro {
	margin-bottom: 30px;
}
.--erro input,
.--erro textarea {
	color: white !important;
	background-color: #F22613 !important;
	border: 1px solid #F22613 !important;
}
.clicavel {
	color: #e6258c;
	margin-left: 10px;
}
.clicavel:hover{
	color: #F62459;
	cursor: pointer;
	text-decoration: none;
}
.gerador {
	background-color: #2a0b2a;
	display: block;
	margin: 0;
	padding: 25px 100px 100px;
	width: 100%;
}
.gerador-info {
	color : #D2D7D3;
	display: block;	
	font-family: 'Mali', sans-serif;	
	font-size: 16px;
	margin-top: 20px;
}
.gerador-info .info,
.gerador-info .lista-item {
	
	color: black;
	display: block;	
	font-family: 'Roboto', sans-serif;	
	font-size: 18px;	
	margin-top: 5px;
	margin-bottom: 2px;
	padding: 5px 10px;
	min-width: 100%;
	max-width: 100%;
}
.info-tipo{
	display: none;
}
.tipo_deschecado,
.tipo_checado {
	display: none;
}
.info-tipo:not(:checked) + .gerador-info_tipo .tipo_deschecado {
	display: initial;
}
.info-tipo:checked + .gerador-info_tipo {
	color: #e958a5;
}
.info-tipo:checked + .gerador-info_tipo .tipo_checado {
	display: initial;
}
.lista-tipos {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 10px;
	width: 100%;
}
.gerador-info_tipo {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin-bottom: 10px;
	width: 25%;
}

.lista-fluxo,
.lista-links {
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;	
}
.lista-item {
	color: black;
	display: block;
	margin-bottom: 5px;
	min-width: 100%;
	max-width: 100%;
	padding: 5px 10px;
}
.lista-links {
	list-style-type:none;
}
.exemplo-titulo {
	color : #D2D7D3;
	font-family: 'Mali', sans-serif;
	font-size: 22px;
	margin-bottom: 0;	
}
.exemplo-questionario {
	border: 1px solid #D2D7D3;
	padding: 20px;
}

.questao:not(.--avaliacao) {
	display: block;	
}
.questao:not(.--avaliacao) .questao-pergunta {
	display: block;
	font-family: 'Mali', sans-serif;
	font-size: 18px;
	margin-right: 15px;
}
.questao:not(.--avaliacao) .questao-resposta {
	color : black;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding: 5px;
	min-width: 100%;
	max-width: 100%;
}
.questao.--avaliacao {
	align-items: center;
	display: flex;
}
.--avaliacao .questao-pergunta {
	color : #D2D7D3;
	font-family: 'Mali', sans-serif;
	font-size: 18px;
	margin-right: 15px;
}
.--avaliacao .questao-resposta {
	color : black;
	flex-grow: 1;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding: 5px;
}
.botao-cadastro {
	color: white;
	background-color: #e6258c;
	font-size: 23px;
	padding: 10px;
	display: inline-block;
	border: 2px solid #e6258c;
	margin-top: 20px;
	width: 400px;
	float: right;
}
.botao-cadastro:hover {
	background-color: #e958a5;
	border-color: #e958a5;
}

@media only screen and (max-width: 980px) {


	.gerador-titulo {
		font-size: 30px;
		height: 50px;
		line-height: 50px;
	}
	.gerador-info_tipo {
		font-size: 15px;
		width: 33%;
	}

}

@media only screen and (max-width: 660px) {
	.gerador-info_tipo {
		width: 50%;
	}
}

@media only screen and (max-width: 600px) {

	.gerador {
		padding: 20px 25px;
	}

	.gerador-titulo {
		font-size: 16px;
		height: 50px;
		line-height: 50px;
	}

	.gerador-info {
		font-size: 12px;
		margin-top: 10px;
	}

	.gerador-info .info,
	.gerador-info .lista-item {
		font-size: 12px;
		padding: 3px 6px;
	}

	.gerador-info .lista-fluxo .lista-item {
		height: 100px;;
	}

	.gerador-info_tipo {
		font-size: 12px;
	}

	.field-validation-error {
		font-size: 9px;
	}

	.clicavel {
		margin-left: 5px;
	}

	.clicavel-texto {
		display: none;
	}

	.exemplo .exemplo-titulo{
		font-size: 14px;
	}

	.exemplo-questionario {
		padding: 10px;
	}
	.exemplo-questionario .questao.--avaliacao {
		display: block;
	}

	.exemplo-questionario .questao {
		margin-bottom: 15px;
	}

	.exemplo-questionario .questao .questao-pergunta {
		display: block;
		font-size: 12px;
	} 

	.exemplo-questionario .questao .questao-resposta {
		font-size: 12px;
		padding: 0px;
		width: 100%;
	}

	.exemplo-questionario .questao textarea.questao-resposta {
		height: 100px;
	}

	.botao-cadastro {
		float: none;
		font-size: 16px;
		padding: 7px;
		width: 100%;
	}
}