body {
    overflow:hidden;
}

.novo-exemplo {
    height: 100vh;
    left: 0;
    background: rgba(93, 63, 106, 0.7);
    padding: 30px 100px;
    position: fixed;
    overflow: scroll;
    top: 0;
    width: 100%;
}

.formulario-exemplo {
    display: block;
    background: rgb(93, 63, 106);
    padding: 15px 30px 82px;
}

.exemplo-titulo {
	color : #D2D7D3;
	font-family: 'Mali', sans-serif;
	font-size: 18px;
	margin-bottom: 0;	
}

.questao:not(.--avaliacao) {
	display: block;	
}
.questao:not(.--avaliacao) .questao-pergunta {
	display: block;
	font-family: 'Mali', sans-serif;
	font-size: 12px;
	margin-right: 15px;
}
.questao:not(.--avaliacao) .questao-resposta {
	color : black;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	padding: 2px;
	min-width: 100%;
	max-width: 100%;
}
.questao.--avaliacao {
	align-items: center;
	display: flex;
}
.--avaliacao .questao-pergunta {
	color : #D2D7D3;
	font-family: 'Mali', sans-serif;
	font-size: 12px;
	margin-right: 15px;
}
.--avaliacao .questao-resposta {
	color : black;
	flex-grow: 1;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	padding: 2px;
}

.exemplo-add {
    background-color: #e6258c;
    border: 1px solid #e6258c;
    float: right;
    font-size: 16px;
    margin-top: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 250px;
}

.exemplo-add:hover {
    background-color: #e958a5;
    border-color: #e958a5;
}