@model Exemplo
<link href="~/css/exemplo/novo.css" rel="stylesheet">
<div class="formulario-exemplo">
    <h2 class="exemplo-titulo">Novo exemplo</h2>
    @Html.EditorFor(modelo => modelo)
    <button class="exemplo-add">Adicionar</button>
</div>